<!-- nav -->
<mat-toolbar *ngIf="user">
    <button mat-button (click)="NavigateToHome()" *ngIf="hasReadAccess()">Home</button>
    <button mat-button (click)="NavigateToStudents()" *ngIf="hasWriteAccess()">Students</button>
    <button mat-button [matMenuTriggerFor]="points" *ngIf="hasReadAccess()">Points</button>
    <mat-menu #points="matMenu">
        <button mat-menu-item (click)="NavigateToAddEarnedPoints()" *ngIf="hasWriteAccess()">Add Earned Points</button>
        <button mat-menu-item (click)="NavigateToAddSpentPoints()" *ngIf="hasWriteAccess()">Add Spent Points</button>
        <button mat-menu-item (click)="NavigateToPointsHistory()" *ngIf="hasReadAccess()">Student Point History</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="checkin" *ngIf="hasWriteAccess()">Check In</button>
    <mat-menu #checkin="matMenu">
        <button mat-menu-item (click)="NavigateToEarnedPointsCheckIn()" *ngIf="hasWriteAccess()">Earn Points Check In Form</button>
        <button mat-menu-item (click)="NavigateToSpentPointsCheckIn()" *ngIf="hasWriteAccess()">Spent Points Check In Form</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="reports"  *ngIf="hasWriteAccess()">Reports</button>
    <mat-menu #reports="matMenu">
        <button mat-menu-item (click)="NavigateToEarnedPointsCheckIn()" *ngIf="hasWriteAccess()">Earn Points Check In Form</button>
        <button mat-menu-item (click)="NavigateToSpentPointsCheckIn()" *ngIf="hasWriteAccess()">Spent Points Check In Form</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="admin" *ngIf="hasAdminAccess()">Admin</button>
    <mat-menu #admin="matMenu">
        <button mat-menu-item (click)="NavigateToUsers()" *ngIf="hasAdminAccess()">Users</button>
        <button mat-menu-item (click)="NavigateToConfig()" *ngIf="hasAdminAccess()">Config</button>
        <button mat-menu-item (click)="NavigateToImport()" *ngIf="hasAdminAccess()">Import</button>
        <button mat-menu-item (click)="NavigateToExport()" *ngIf="hasAdminAccess()">Export</button>
    </mat-menu>
    <span class="main-menu-spacer"></span>
    <mat-icon>account_circle</mat-icon>
    <button mat-button [matMenuTriggerFor]="profile">{{user.username}}</button>
    <mat-menu #profile="matMenu">
        <button mat-menu-item (click)="navigateToUserConfig()">User Config</button>
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
</mat-toolbar>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>