<h1>{{title}}</h1>
<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="mb-3 col">
            <label class="form-label">Student Name</label>
            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Student Name is required</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col">
            <label class="form-label">Group</label>
            <select formControlName="group" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.group.errors }" >
                <option disabled>Select Group</option>
                <option *ngFor="let grp of groups" value="{{grp.id}}">
                    {{grp.name}}
                </option>
            </select>
            <div *ngIf="submitted && f.group.errors" class="invalid-feedback">
                <div *ngIf="f.group.errors.required">Group is required</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col">
            <label class="form-label">Grade</label>
            <select formControlName="grade" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.grade.errors }" >
                <option disabled>Select Grade</option>
                <option value="-1">Unknown</option>
                <option value="0">Kinder Gardener</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <div *ngIf="submitted && f.grade.errors" class="invalid-feedback">
                <div *ngIf="f.grade.errors.required">Grade is required</div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <button [disabled]="submitting" class="btn btn-primary">
            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
            Save
        </button>
        <a routerLink="/users" class="btn btn-link">Cancel</a>
    </div>
</form>
<div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div>