<h1>Students</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Student</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Student Name</th>
            <th style="width: 30%">Grade</th>
            <th style="width: 30%">Group</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{student.name}}</td>
            <td>{{student.grade}}</td>
            <td>{{student.group?.name}}</td>
        </tr>
        <tr *ngIf="!students">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>